<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chachakim.chakimcha.notice.mapper.NoticeMapper">
      
 <select id = "list" resultType = "com.chachakim.chakimcha.notice.vo.NoticeVO">
    SELECT notice_id, title, write_datetime, content, view_count
    FROM notice
  </select>

  <select id = "view" resultType = "com.chachakim.chakimcha.notice.vo.NoticeVO">
    SELECT notice_id, title, write_datetime, content, view_count
    FROM notice
    WHERE notice_id in (#{notice_id})
  </select>

  <insert id = "write">
      INSERT INTO notice (title, write_datetime, content)
      VALUES (#{title}, DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -FLOOR(RAND() * 100) DAY), '%Y-%m-%d %H:%i:%s'), #{content})
  </insert>

  <update id="update">
    UPDATE notice
    SET title = #{title}, 
        write_datetime = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL -FLOOR(RAND() * 100) DAY), '%Y-%m-%d %H:%i:%s'), 
        content = #{content}
    WHERE notice_id = #{notice_Id}
  </update>

  <update id="increaseview">
    UPDATE notice
    SET view_count = view_count + 1
    WHERE notice_id = #{notice_Id}
  </update>

  <delete id="delete">
    DELETE
    FROM notice
    WHERE notice_id = #{notice_Id}
  </delete>



</mapper>